@import '_mixin.scss';

.banner {
    background-image: url('../images/banner-1920.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__container {
        position: relative;
        padding-top: 152px;
        padding-bottom: 150px;
        @include container();
    }

    &__heading {
        font-family: 'Playfair Display';
        font-weight: $fw900;
        line-height: 72px;
        font-size: $fs60;
        color: $colorD5B986;
        max-width: 508px;
    }

    &__descr {
        font-weight: $fw400;
        line-height: 58px;
        font-size: $fs48;
        color: $colorFFFFFF;
        max-width: 508px;
        margin-bottom: 49px;
    }

    &__button {
        @include fillButton();
        padding: 20px 30px;
    }

    @media (max-width: 1350px) {
        background-image: url('../images/banner-1024.webp');
    }

    @media (max-width: 1000px) {
        background-image: url('../images/banner-768.webp');

        &__container {
            padding-left: 36px;
        }
    }

    @media (max-width: 767px) {
        background-image: url('../images/banner-320.webp');

        &__container {
            min-height: 210px;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 12px;
        }

        &__heading {
            line-height: 28px;
            font-size: $fs24;
            max-width: 187px;
        }

        &__descr {
            line-height: 19px;
            font-size: $fs16;
            max-width: 187px;
            margin-bottom: 0;
        }

        &__button {
            @include absolute();
            bottom: -92px;
            left: 12px;
            width: calc(100% - 24px);
        }
    }
}
