@import '_mixin.scss';

.breadcrumbs {
    @include container();
    @include flexCenterAlign();
    padding-top: 23px;
    margin-bottom: 32px;
    
    &__link {
        @include greyLink();
    }

    &__item {
        @include flexCenterAlign();
    }

    &__item:not(:last-child)::after {
        position: relative;
        z-index: 2;
        content: '/';
        margin-right: 4px;
        margin-left: 3px;
        color: $color999999;
        font-size: $fs14;
        line-height: 14px;
    }

    &__item:last-child {
        font-size: $fs14;
        line-height: 14px;
        color: $color7033AC;
    }

    @media (max-width: 767px) {
        display: none;
    }
}
