@import '_mixin.scss';

.catalog-item {
    position: relative;
    @include flexColumn();
    align-items: start;
    justify-content: end;
    padding: 50px 12px 30px;
    background-color: $colorF6F6F6;
    border-radius: 10px;

    &__picture {
        align-self: center;
        margin-bottom: 16px;
    }

    &__img {
        object-fit: none;
        height: min-content;
        width: min-content;
    }

    &__item-heading {
        @include secondaryTitle();
        margin-bottom: 19px;
        padding-left: 18px;
        padding-right: 18px;
    }

    &__price {
        padding-left: 18px;
        font-size: $fs16;
        line-height: 21px;
        color: $color999999;
        margin-bottom: 24px;
    }

    &__item-button {
        margin-left: 18px;
        @include emptyButton();
    }

    &__name {
        white-space: nowrap;
    }

    &__rating {
        @include absolute();
        @include rating();
        top: 30px;
        left: 25px;
    }

    @media (max-width: 767px) {
        padding: 30px 16px 16px;

        &__picture {
            margin-bottom: 10px;
        }

        &__item-heading {
            margin-bottom: 16px;
            padding-left: 0;
            padding-right: 0;
            font-size: 16px;
            line-height: 21px;
        }

        &__price {
            padding-left: 0;
            margin-bottom: 10px;
        }

        &__item-button {
            margin-left: 0;
            padding: 12px 25px;
        }

        &__rating {
            font-size: $fs12;
            line-height: 16px;
            top: 15px;
            left: 11px;
            padding-left: 24px;
        }

        &__rating::before {
            top: -2px;
            background-size: 24px;
        }
    }
}
