@import '_mixin.scss';

.footer {
    &__top {
        padding-top: 24px;
        padding-bottom: 24px;
        background-color: $colorEAEAEA;
    }

    &__grid {
        @include container();
        @include grid();
        grid-template-columns: 3.55fr 1.4fr 2.1fr 1.9fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: 1fr;
        grid-template-areas:
            'footer-1 footer-2 footer-3 footer-4 footer-5'
    }

    &__block {
        @include flexColumn();
    }

    &__block_1 {
        grid-area: footer-1;
    }

    &__block_2 {
        grid-area: footer-2;
    }

    &__block_3 {
        grid-area: footer-3;
    }

    &__block_4 {
        grid-area: footer-4;
    }

    &__block_5 {
        grid-area: footer-5;
    }

    &__logo {
        width: max-content;
        height: 27px;
        margin-bottom: 10px;
        outline: 2px solid transparent;
        outline-offset: 2px;
        border-radius: 2px;
        transition: outline-color $transition-time;
    }

    &__logo:focus-visible {
        outline-color: $colorA65CF0;
    }

    &__social-list {
        display: grid;
        column-gap: 20px;
        row-gap: 10px;
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: 1fr;
        margin-top: auto;
    }

    &__social-link {
        position: relative;
        z-index: 1;
        display: block;
        height: 30px;
        color: $color999999;
        transition: color $transition-time;
    }

    &__social-link::before {
        @include absolute();
        z-index: -1;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        transition: background-color $transition-time;
    }

    &__social-link:hover {
        color: $colorA65CF0;
    }

    &__social-link:focus-visible {
        color: $colorEAEAEA;
    }

    &__social-link:focus-visible::before {
        background-color: $colorC998FB;
    }

    &__social-link:active {
        color: $color7033AC;
    }

    &__heading {
        font-weight: $fw400;
        font-size: $fs16;
        line-height: 16px;
        padding-top: 3px;
        margin-bottom: 3px;
    }

    &__list-item:not(:last-child) {
        margin-bottom: 5.5px;
    }

    &__list-link {
        @include greyLink();
        white-space: nowrap;
    }

    &__bottom {
        @include container();
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        font-size: $fs14;
        line-height: 14px;
        color: $color999999;
        line-height: 19px;
    }

	@media (max-width: 1350px) {
		&__grid {
			grid-template-columns: max-content 1.3fr 2.1fr 1.9fr 1fr;
		}
	}

    @media (max-width: 1000px) {
        &__grid {
            grid-template-columns: 1.2fr 2fr 2fr 1fr;
            grid-template-rows: max-content 1fr;
            row-gap: 24px;
            column-gap: 32px;
            grid-template-areas:
                'footer-1 footer-1 footer-1 footer-1'
                'footer-2 footer-3 footer-4 footer-5'
        }

        &__block_1 {
            flex-direction: row;
            align-items: center;
        }

        &__logo {
            margin-bottom: 0;
        }

        &__social-list {
            margin-top: 0;
            margin-left: auto;
        }
    }

    @media (max-width: 767px) {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, max-content);
            row-gap: 24px;
            column-gap: 32px;
            grid-template-areas:
                'footer-1 footer-1'
                'footer-2 footer-3'
                'footer-4 footer-5'
        }

        &__block_1 {
            flex-direction: column;
        }

        &__logo {
            margin-bottom: 25px;
        }

        &__social-list {
            margin-left: 0;
        }
    }
}
