@import '_mixin.scss';

.header {
    position: relative;
    z-index: 20;

    &__top {
        background-color: $colorF7F7F7;
    }

    &__top-container {
        @include container();
        @include grid();
        position: relative;
        padding-top: 14px;
        padding-bottom: 14px;
        align-items: center;
        grid-template-columns: 1fr 2fr 6fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            'header__region header__call header__menu-top'
    }

    &__region {
        z-index: 10;
        @include flexCenterAlign();
        grid-area: header__region;
    }

    &__region-text {
        white-space: nowrap;
        line-height: 19px;
    }

    &__region .choices {
        width: 78px;
    }

    &__region .choices[data-type*=select-one]::after {
        height: 12px;
        width: 12px;
        background-image: url('../images/sprite.svg#arrow');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 14px 14px;
        border: none;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -4.5px;
        transition: transform $transition-time, margin-top $transition-time;
    }

    &__region .choices[data-type*=select-one].is-open:after {
        margin-top: -6px;
        transform: rotate(180deg);
    }

    &__region .choices[data-type*=select-one].is-open .choices__inner {
        background-color: transparent;
        color: $colorA65CF0;
    }

    &__region .choices__inner {
        padding: 0;
        padding-top: 1px;
        padding-right: 17px;
        padding-left: 4px;
        min-height: auto;
        border: none;
        border-radius: 0;
        background-color: transparent;
        font-size: $fs16;
        color: $colorA65CF0;
        transition: color $transition-time, background-color $transition-time;
    }

    &__region .choices__list--dropdown,
    &__region .choices__list[aria-expanded] {
        border: 2px solid $colorF6F6F6;
    }

    &__region .choices__inner:hover {
        color: $colorC998FB;
    }

    &__region .choices:focus-visible .choices__inner {
        background-color: $colorEBD1FF;
        color: $color7033AC;
    }

    &__region .choices:active .choices__inner {
        color: $color7033AC;
    }

    &__region .choices[data-type*=select-one] .choices__inner {
        padding-bottom: 0;
    }

    &__region .choices:focus-visible::after {
        color: $color7033AC;
    }

    &__region .choices__list--single {
        padding: 0;
    }

    &__region .choices__list--dropdown .choices__item--selectable,
    &__region .choices__list[aria-expanded] .choices__item--selectable {
        padding-right: 0;
    }

    &__region .choices__list--dropdown .choices__item,
    &__region .choices__list[aria-expanded] .choices__item {
        white-space: nowrap;
        padding: 5.5px 19px 5.5px 16px;
    }

    &__region .choices__list--dropdown {
        margin-top: 7px;
        padding-top: 10.5px;
        padding-bottom: 13.5px;
        z-index: 2;
    }

    &__region .choices__item.is-selected {
        display: none;
    }

    &__region .choices__list--dropdown .choices__item--selectable.is-highlighted,
    &__region .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
        background-color: $colorEBD1FF;
    }

    &__call {
        grid-area: header__call;
        z-index: 5;
        width: max-content;
        white-space: nowrap;
        justify-self: start;
        @include flexCenterAlign();
        color: $colorFF862F;
        font-size: $fs14;
        line-height: 14px;
        transition: color $transition-time, background-color $transition-time;
    }

    &__call:hover {
        color: $colorFFBD59;
    }

    &__call:focus-visible {
        background-color: $colorFFF5D1;
    }

    &__call:active {
        color: $colorBB370E;
    }

    &__menu-top {
        grid-area: header__menu-top;
        justify-self: end;
        display: grid;
        column-gap: 64px;
        row-gap: 15px;
        grid-template-columns: repeat(4, max-content);
        grid-template-rows: 1fr;
        grid-auto-rows: 1fr;
        white-space: nowrap;
    }

    &__top-link {
        @include greyLink();
    }

    &__middle-link {
        position: relative;
        z-index: 1;
        transition: color $transition-time;
    }

    &__middle-link::before {
        @include absolute();
        z-index: -1;
        top: -1px;
        bottom: -1px;
        left: -10px;
        right: -10px;
        background-color: transparent;
        transition: background-color $transition-time;
    }

    &__middle-link:hover {
        color: $colorA65CF0;
    }

    &__middle-link:active {
        color: $color7033AC;
    }

    &__middle-link:focus-visible::before {
        background-color: $colorEBD1FF;
    }

    &__middle {
        @include container();
        @include grid();
        position: relative;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            'header__logo header__nav'
    }

    &__burger {
        display: none;
        color: $colorA65CF0;
        @include absolute();
    }

    &__close {
        display: none;
    }

    &__logo {
        grid-area: header__logo;
        height: 27px;
        width: max-content;
        outline: 2px solid transparent;
        outline-offset: 2px;
        border-radius: 2px;
        transition: outline-color $transition-time;
    }

    &__logo:focus-visible {
        outline-color: $colorA65CF0;
    }

    &__nav {
        grid-area: header__nav;
        justify-self: end;
    }

    &__menu-middle {
        display: grid;
        column-gap: 91px;
        row-gap: 15px;
        grid-template-columns: repeat(6, max-content);
        grid-template-rows: 1fr;
        grid-auto-rows: 1fr;
        line-height: 22px;
    }

    &__bottom {
        @include container();
        @include flexCenterAlign;
    }

    &__search-block {
        position: relative;
        max-width: 761px;
        width: 100%;
    }

    &__search-input {
        @include input();
        width: 100%;
        padding: 18px 57px;
        border-radius: 10px 0px 0px 10px;
    }

    &__search-button {
        @include absolute();
        @include arrowButton();
        top: 14px;
        right: 32px;
    }

    &__search-button-img {
        margin-top: 3px;
        margin-left: 2px;
    }

    &__search-img {
        @include absolute();
        top: 20px;
        left: 34px;
        color: $color999999;
        transition: color $transition-time;
    }

    &__user {
        margin-left: auto;
        margin-right: 32px;
    }

    &__search-input:focus+&__search-img {
        color: $colorA65CF0;
    }

    &__bottom .choices {
        min-width: 300px;
        width: 300px;
        margin-bottom: 0;
    }

    &__bottom .choices:focus-visible .choices__inner,
    &__bottom .choices:hover .choices__inner {
        background-color: $colorF8EFFF;
        border-color: $colorA65CF0;
    }

    &__bottom .choices:active .choices__inner {
        border-color: $color7033AC;
    }

    &__bottom .choices__list--dropdown .choices__list {
        padding-top: 23.5px;
        padding-bottom: 17.5px;
        columns: 2;
    }

    &__bottom .choices[data-type*=select-one]::after {
        height: 12px;
        width: 12px;
        z-index: 4;
        background-image: url('../images/sprite.svg#arrow');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 14px 14px;
        border: none;
        position: absolute;
        right: 33px;
        top: 50%;
        margin-top: -4.5px;
        transition: transform $transition-time, margin-top $transition-time;
    }

    &__bottom .choices[data-type*=select-one].is-open:after {
        margin-top: -6px;
        transform: rotate(180deg);
    }

    &__bottom .choices__list--single {
        padding: 0;
    }

    &__bottom .choices[data-type*=select-one] .choices__inner {
        padding-bottom: 17px;
    }

    &__bottom .choices__inner {
        position: relative;
        z-index: 2;
        padding: 17px 30px;
        min-height: auto;
        border: none;
        border-radius: 0;
        line-height: 22px;
        font-size: $fs16;
        color: $colorA65CF0;
        border: 2px solid $colorF6F6F6;
        border-radius: 0px 10px 10px 0px;
        background-color: $colorFFFFFF;
        transition: background-color $transition-time, border-color $transition-time;
    }

    &__bottom .choices__list--dropdown .choices__item[data-value*=placeholder] {
        display: none;
    }

    &__bottom .choices__list--dropdown,
    &__bottom .choices__list[aria-expanded] {
        border: 2px solid $colorF6F6F6;
        border-radius: 0 0 10px 10px;
        border-top: none;
        margin-top: -7px;
        z-index: 1;
    }

    &__bottom .choices__list--dropdown .choices__item,
    &__bottom .choices__list[aria-expanded] .choices__item {
        white-space: nowrap;
        padding: 5.5px 30px 5.5px 30px;
    }

    &__bottom .choices[data-type*=select-one].is-open .choices__inner {
        background-color: transparent;
        color: $colorA65CF0;
        border-color: $colorF6F6F6;
    }

    &__bottom .choices__list--dropdown .choices__item--selectable.is-highlighted,
    &__bottom .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
        background-color: $colorEBD1FF;
    }

    &__user,
    &__basket {
        position: relative;
        color: $colorA65CF0;
        transition: color $transition-time;
    }

    &__user::before,
    &__basket::before {
        @include absolute();
        z-index: -1;
        top: -4px;
        bottom: -4px;
        right: -4px;
        left: -4px;
        transition: background-color $transition-time;
    }

    &__user:hover,
    &__basket:hover {
        color: $colorC998FB;
    }

    &__user:active,
    &__basket:active {
        color: $color7033AC;
    }

    &__user:focus-visible,
    &__basket:focus-visible {
        color: $colorFFFFFF;
    }

    &__user:focus-visible::before,
    &__basket:focus-visible::before {
        background-color: $colorC998FB;
    }

    &__back-img {
        display: none;
        @include absolute();
    }

    @media (max-width: 1270px) {
        &__top {
            margin-top: 58px;
        }

        &__top-container {
            padding-top: 18px;
            padding-bottom: 14px;
            grid-template-columns: 1fr;
            grid-template-areas:
                'header__menu-top'
        }

        &__region {
            @include absolute();
            top: -40px;
            left: 36px;
        }

        &__call {
            @include absolute();
            right: 36px;
            top: -40px;
        }

        &__menu-top {
            justify-self: start;
        }

        &__menu-middle {
            column-gap: 42px;
        }

        &__user,
        &__basket {
            @include absolute();
            margin: 0;
            top: 10px;
        }

        &__basket {
            right: 36px;
        }

        &__user {
            right: 109px;
        }

        &__search-block {
            max-width: none;
        }
    }

    @media (max-width: 1000px) {
        &.active {
            overflow: visible;
        }

        &__region {
            left: 72px;
        }

        &__call {
            right: 72px;
        }

        &__top-container {
            padding-top: 15px;
            padding-bottom: 17px;
        }

        &__menu-top {
            column-gap: 35px;
        }

        &__middle {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas:
                'header__logo'
        }

        &__logo {
            justify-self: center;
        }

        &__burger {
            display: block;
            left: 72px;
        }

        &__bottom {
            position: relative;
        }

        &__user,
        &__basket {
            top: -55px;
        }

        &__basket {
            right: 72px;
        }

        &__user {
            right: 145px;
        }

        &__bottom .choices {
            min-width: 189px;
            width: 189px;
        }

        &__bottom .choices__list--dropdown .choices__list {
            columns: 1;
        }

        &__nav {
            @include ghost();
            z-index: 15;
            padding: 91px 72px 60px;
            justify-self: auto;
            height: 300px;
            background-color: $colorFFFFFF;
            border-top: 1px solid #00000033;
            visibility: hidden;
            opacity: 0;
            transform: translateX(-1000px);
            transition: transform 0.4s, visibility 0.4s, opacity 0.4s;
        }

        &__back-img {
            display: block;
            @include absolute();
            right: 72px;
            bottom: 60px;
            opacity: 0.2;
        }

        &__menu-middle {
            height: 148px;
            overflow-y: scroll;
            grid-template-columns: repeat(2, max-content);
            column-gap: 64px;
            row-gap: 41px;
        }

        &__close {
            display: block;
            @include absolute();
            color: $colorA65CF0;
            z-index: 16;
            top: 34px;
            left: 72px;
            visibility: hidden;
            opacity: 0;
            transform: translateX(-1000px);
            transition: transform 0.4s, visibility 0.4s, opacity 0.4s;
        }

        &__nav.active,
        &__close.active {
            transform: translateX(0);
            visibility: visible;
            opacity: 1;
        }
    }

    @media (max-width: 767px) {

        &__top {
            margin-top: 0;
            height: 50px;
        }

        &__region {
            top: auto;
            left: 12px;
            bottom: -55px;
        }

        &__call {
            top: auto;
            left: 12px;
            bottom: -95px;
        }

        &__menu-top {
            @include absolute();
            width: calc(100% + 24px);
            left: -12px;
            padding: 24px 12px;
            row-gap: 12px;
            grid-template-columns: repeat(2, 1fr);
            background-color: $colorF7F7F7;
            white-space: normal;
            z-index: 17;
            visibility: hidden;
            opacity: 0;
            transform: translateX(-1000px);
            transition: transform 0.4s, visibility 0.4s, opacity 0.4s;
        }

        &__menu-top.active {
            transform: translateX(0);
            visibility: visible;
            opacity: 1;
        }

        &__middle {
            padding-top: 106px;
            padding-bottom: 25px;
        }

        &__logo {
            position: relative;
            top: -145px;
        }

        &__burger {
            left: 12px;
            top: 105px;
        }

        &__bottom {
            flex-direction: column;
        }

        &__bottom .choices {
            min-width: auto;
            width: 100%;
        }

        &__bottom .choices__inner {
            border-radius: 10px 10px 10px 10px;
        }

        &__bottom .choices__list--dropdown .choices__list {
            columns: 2;
        }

        &__search-input {
            border-radius: 10px 10px 10px 10px;
            margin-bottom: 16px;
        }

        &__basket {
            right: 12px;
        }

        &__user {
            right: 85px;
        }

        &__nav {
            top: 100px;
            padding: 62px 12px 26px;
            background-image: none;
        }

        &__back-img {
            display: none;
        }

        &__menu-middle {
            grid-template-columns: max-content;
        }

        &__close {
            display: block;
            top: 118px;
            left: 16px;
        }
    }
}
