@import '_variables.scss';

@mixin container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1350px) {
        padding-left: 36px;
        padding-right: 36px;
    }

    @media (max-width: 1000px) {
        padding-left: 72px;
        padding-right: 72px;
    }

    @media (max-width: 767px) {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@mixin clearStandart {
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

@mixin blockTitle {
    font-size: $fs32;
    font-weight: $fw400;
    line-height: 32px;
    margin-bottom: 26px;

    @media (max-width: 767px) {
        font-size: $fs24;
        line-height: 24px;
    }
}

@mixin secondaryTitle {
    font-size: $fs24;
    font-weight: $fw400;
    line-height: 31px;
}


@mixin flexCenterAlign {
    display: flex;
    align-items: center;
}

@mixin absolute {
    position: absolute;
    content: '';
}


@mixin grid {
    display: grid;
    gap: $gap;
}

@mixin ghost {
    @include absolute();
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin button {
    font-size: $fs16;
    line-height: 16px;
    border: 2px solid transparent;
    border-radius: 10px;
}

@mixin fillButton {
    @include button();
    font-weight: $fw700;
    color: $colorFFFFFF;
    border-color: $colorA65CF0;
    background-color: $colorA65CF0;
    transition: background-color $transition-time, border-color $transition-time, color $transition-time;

    &:hover:not(:disabled) {
        background-color: $colorC998FB;
        border-color: $colorC998FB;
    }

    &:focus-visible:not(:disabled) {
        background-color: $colorC998FB;
        border-color: $color7033AC;
    }

    &:active:not(:disabled) {
        background-color: $color7033AC;
        border-color: $color7033AC;
    }

    &:disabled {
        cursor: auto;
        background-color: $colorEAEAEA;
        border-color: $colorEAEAEA;
        color: $color999999;
    }
}

@mixin emptyButton {
    @include button();
    padding: 17px 34px;
    color: $colorA65CF0;
    border-color: $colorA65CF0;
    transition: color $transition-time, background-color $transition-time, border-color $transition-time;

    &:hover {
        color: $colorFFFFFF;
        background-color: $colorA65CF0;
    }

    &:focus-visible {
        color: $colorFFFFFF;
        background-color: $colorC998FB;
    }

    &:active {
        color: $colorFFFFFF;
        background-color: $color7033AC;
        border-color: $color7033AC;
    }
}

@mixin arrowButton {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid $colorA65CF0;
    color: $colorA65CF0;
    transition: border-color $transition-time, background-color $transition-time, color $transition-time;

    &:hover:not(:disabled) {
        background-color: $colorA65CF0;
        color: $colorFFFFFF;
    }

    &:focus-visible:not(:disabled) {
        background-color: $colorC998FB;
        color: $colorFFFFFF;
    }

    &:active:not(:disabled) {
        border-color: $color7033AC;
        background-color: $color7033AC;
        color: $colorFFFFFF;
    }

    &:disabled {
        color: $color999999;
        border-color: $color999999;
        cursor: auto;
    }
}

@mixin section {
    padding-top: 35px;
    padding-bottom: 35px;
}

@mixin input {
    font-family: inherit;
    font-size: $fs16;
    line-height: 20px;
    background-color: $colorF7F7F7;
    border: 2px solid transparent;
    transition: background-color $transition-time, border-color $transition-time;

    &::placeholder {
        color: $color999999;
    }

    &:hover {
        background-color: $colorEAEAEA;
    }

    &:focus {
        background-color: $colorF8EFFF;
        border-color: $colorA65CF0;
    }
}

@mixin greyLink {
    font-size: $fs14;
    line-height: 14px;
    color: $color999999;
    position: relative;
    z-index: 1;
    transition: color $transition-time;

    &::before {
        @include absolute();
        z-index: -1;
        top: -1px;
        bottom: -1px;
        left: -10px;
        right: -10px;
        background-color: transparent;
        transition: background-color $transition-time;
    }

    &:hover {
        color: $colorA65CF0;
    }

    &:focus-visible,
    &:active {
        color: $color7033AC;
    }

    &:focus-visible::before {
        background-color: $colorEBD1FF;
    }
}

@mixin rating {
    padding-left: 27px;
    color: $colorFF862F;
    line-height: 21px;

    &::before {
        @include absolute();
        width: 20px;
        height: 20px;
        left: 2px;
        top: 0;
        background-image: url('../images/sprite.svg#star');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@mixin modal {
    display: block;
    visibility: hidden;
    opacity: 0;
    border: none;
    border-radius: 10px;
    padding: 0;
    transition: opacity $transition-time, visibility $transition-time;

    &::backdrop {
        background: none;
        background-color: $color333333;
        opacity: 0.3;
    }

    &[open] {
        visibility: visible;
        opacity: 1;
    }

    &__close {
        @include absolute();
        top: 20px;
        right: 20px;
        color: $color999999;
        transition: color $transition-time;
    }

    &__close::before {
        @include absolute();
        z-index: -1;
        top: -2px;
        right: -2px;
        left: -2px;
        bottom: -2px;
        transition: background-color $transition-time;
    }

    &__close:hover {
        color: $colorA65CF0;
    }

    &__close:focus-visible {
        color: $color7033AC;
        background-color: $colorEBD1FF;
    }

    &__close:active {
        color: $color7033AC;
    }

    @media (max-width: 767px) {
        &__close {
            width: 12px;
            height: 12px;
            top: 16px;
            right: 16px;
        }

        &__close-img {
            width: 12px;
            height: 12px;
        }
    }
}
