@import '_mixin.scss';

.top-button {
    max-width: max-content;
    position: relative;
    @include flexCenterAlign();
    color: $colorA65CF0;
    line-height: 19px;
    font-weight: $fw700;
    transition: color $transition-time;

    &::before {
        @include absolute();
        z-index: 1;
        right: -8px;
        border-radius: 50%;
        height: 22px;
        width: 22px;
        border: 2px solid $colorA65CF0;
        transition: background-color $transition-time, border-color $transition-time;
    }

    &__text {
        margin-right: 14px;
        border-bottom: 2px solid transparent;
        transition: border-color $transition-time, color $transition-time;
    }

    &__img {
        z-index: 2;
        position: relative;
        transition: color $transition-time;
    }

    &:hover &__text,
    &:focus-visible &__text {
        border-color: $colorA65CF0;
    }

    &:hover::before {
        background-color: $colorA65CF0;
    }

    &:hover &__img,
    &:focus-visible &__img,
    &:active &__img {
        color: $colorFFFFFF;
    }

    &:focus-visible::before {
        background-color: $colorC998FB;
    }

    &:active &__text {
        border-color: $color7033AC;
        color: $color7033AC;
    }

    &:active::before {
        background-color: $color7033AC;
        border-color: $color7033AC;
    }
    @media (max-width: 767px) {
        &__text {
            display: none;
        }
    }

}
