@import '_mixin.scss';
@import '_top-button.scss';

.top {
    @include section();
    padding-top: 70px;

	&__container {
		@include container();
	}

    &__heading {
        @include blockTitle();
    }

    &__grid {
        @include grid();
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: minmax(511px, max-content) minmax(405px, max-content);
        grid-auto-rows: minmax(405px, max-content);
        grid-template-areas:
            'top-1 top-1 top-1 top-2 top-2 top-2'
            'top-3 top-3 top-4 top-4 top-5 top-5'
    }

    &__item_1 {
        grid-area: top-1;
        background-image: url('../images/top-1-1920.webp');
    }

    &__item_2 {
        grid-area: top-2;
        background-image: url('../images/top-2-1920.webp');
    }

    &__item_3 {
        grid-area: top-3;
        background-image: url('../images/top-3-1920.webp');
    }

    &__item_4 {
        grid-area: top-4;
        background-image: url('../images/top-4-1920.webp');
    }

    &__item_5 {
        grid-area: top-5;
        background-image: url('../images/top-5-1920.webp');
    }

    &__item {
        @include flexColumn();
        align-items: start;
        padding: 30px;
        background-color: $colorF7F7F7;
        border-radius: 10px;
        background-position: left 121px;
        background-repeat: no-repeat;
        background-size: auto;
    }

    &__taglist {
        display: grid;
        column-gap: 30px;
        row-gap: 5px;
        grid-template-columns: repeat(2, max-content);
        margin-bottom: 16px;
    }

    &__item_1 &__taglist,
    &__item_2 &__taglist {
        grid-template-columns: repeat(3, max-content);
    }

    &__tag {
        font-size: $fs14;
        line-height: 14px;
        color: $color999999;
    }

    &__tag-link {
        transition: color $transition-time;
    }

    &__tag-link:hover,
    &__tag-link:focus-visible,
    &__tag-link:active {
        color: $colorC998FB;
    }

    &__item-heading {
        @include secondaryTitle();
    }

    &__button {
        margin-top: auto;
    }

    &__item-container {
        @include flexColumn();
        height: 100%;
    }

    @media (max-width: 1350px) {
        &__grid {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: minmax(511px, max-content) minmax(511px, max-content);
            grid-auto-rows: minmax(511px, max-content);
            grid-template-areas:
                'top-1 top-1 top-3'
                'top-4 top-2 top-5'
        }

        &__item {
            background-position: left 127px;
        }

        &__item_1 {
            background-position: left 121px;
        }

        &__item_2 {
            background-image: url('../images/top-2-1024.webp');
        }

        &__item_3 {
            background-image: url('../images/top-3-1024.webp');
        }

        &__item_4 {
            background-image: url('../images/top-4-1024.webp');
        }

        &__item_5 {
            background-image: url('../images/top-5-1024.webp');
        }

        &__item_2 &__taglist {
            grid-template-columns: repeat(2, max-content);
        }
    }

    @media (max-width: 1000px) {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: minmax(511px, max-content) minmax(511px, max-content) minmax(511px, max-content);
            grid-auto-rows: minmax(511px, max-content);
            grid-template-areas:
                'top-1 top-1'
                'top-3 top-2'
                'top-4 top-5'
        }
    }

    @media (max-width: 767px) {
        padding-top: 162px;
        padding-bottom: 39px;

        &__grid {
            grid-template-rows: minmax(332px, max-content) minmax(206px, max-content) minmax(206px, max-content);
            grid-auto-rows: minmax(206px, max-content);
            column-gap: 16px;
        }

        &__item {
            background-position: left 0 bottom 16px;
            padding: 16px;
        }

        &__item_1 {
            padding: 30px;
            background-image: url('../images/top-1-320.webp');
        }

        &__item_2 {
            background-image: url('../images/top-2-320.webp');
        }

        &__item_3 {
            background-image: url('../images/top-3-320.webp');
        }

        &__item_4 {
            background-image: url('../images/top-4-320.webp');
        }

        &__item_5 {
            background-image: url('../images/top-5-320.webp');
        }

        &__tag {
            font-size: $fs10;
            line-height: 10px;
        }

        &__taglist {
            grid-template-columns: 1fr;
            margin-bottom: 8px;
        }

        &__item_2 &__taglist {
            grid-template-columns: 1fr;
        }

        &__item_1 &__taglist {
            grid-template-columns: repeat(3, max-content);
            column-gap: 20px;
            margin-bottom: 14px;
        }

        &__item_1 &__tag {
            font-size: $fs14;
            line-height: 14px;
            margin-bottom: 0;
        }

        &__item-heading {
            font-size: 16px;
            line-height: 22px;
            margin-right: 16px;
            max-width: min-content;
        }

        &__item_1 &__item-heading {
            font-size: 24px;
            line-height: 33px;
        }

        &__item-container {
            flex-direction: row;
            align-items: end;
            height: max-content;
        }

        &__button {
            margin-top: 0;
            padding-bottom: 5px;
        }

        &__item_1 &__button {
            padding-bottom: 10px;
        }
    }
}
