@import '_mixin.scss';

.useful {
    @include section();

    &__container {
        position: relative;
        @include container();
    }

    &__heading {
        @include blockTitle();
    }

    &__swiper-slide {
        max-width: 624px;
        width: 100%;
        height: auto;
        min-height: 676px;
        background-color: $colorF7F7F7;
        border-radius: 10px;
    }

    &__slide-container {
        padding: 30px;
        overflow: hidden;
        height: calc(100% - 60px - 426px);
        @include flexColumn();
        align-items: start;
    }

    &__slide-img {
        height: 426px;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }

    &__slide-img_1 {
        background-image: url('../images/useful-1-1920.webp');
    }

    &__slide-img_2 {
        background-image: url('../images/useful-2-1920.webp');
    }

    &__slide-img_3 {
        background-image: url('../images/useful-3-1920.webp');
    }

    &__slide-img_4 {
        background-image: url('../images/useful-4-1920.webp');
    }

    &__slide-img_5 {
        background-image: url('../images/useful-5-1920.webp');
    }

    &__descr {
        font-size: $fs24;
        line-height: 33px;
        margin-bottom: 15px;
    }

    &__button {
        @include emptyButton();
        margin-top: auto;
    }

    &__swiper-button-next,
    &__swiper-button-prev {
        @include arrowButton();
        top: 22px;
    }

    &__swiper-button-next {
        right: 0;
    }

    &__swiper-button-prev {
        right: 45px;
        left: auto;
    }

    &__swiper-button-next::after,
    &__swiper-button-prev::after {
        content: '';
    }

    &__swiper-button-prev {
        transform: rotate(180deg)
    }

    @media (max-width: 1350px) {
        &__swiper-slide {
            min-height: 456px;
        }

        &__slide-container {
            height: calc(100% - 60px - 202px);
        }

        &__descr {
            font-size: 16px;
            line-height: 22px;
        }

        &__slide-img {
            height: 202px;
        }

        &__slide-img_1 {
            background-image: url('../images/useful-1-1024.webp');
        }

        &__slide-img_2 {
            background-image: url('../images/useful-2-1024.webp');
        }

        &__slide-img_3 {
            background-image: url('../images/useful-3-1024.webp');
        }

        &__slide-img_4 {
            background-image: url('../images/useful-4-1024.webp');
        }

        &__slide-img_5 {
            background-image: url('../images/useful-5-1024.webp');
        }

        &__swiper-button-next {
            right: 36px;
        }

        &__swiper-button-prev {
            right: 81px;
        }
    }

    @media (max-width: 1000px) {
        &__swiper-button-next {
            right: 72px;
        }

        &__swiper-button-prev {
            right: 117px;
            left: auto;
        }
    }

    @media (max-width: 767px) {
        padding-top: 39px;
        padding-bottom: 59px;

        &__swiper-slide {
            max-width: none;
        }

        &__swiper-button-next,
        &__swiper-button-prev {
            top: auto;
            bottom: -48px;
        }

        &__swiper-button-next {
            right: calc(50% - 7.5px - 32px);
        }

        &__swiper-button-prev {
            right: 45px;
            right: calc(50% + 7.5px);
        }
    }
}
