@import '_mixin.scss';
@import '_common.scss';
@import '_header.scss';
@import '_breadcrumbs.scss';
@import '_catalog-item.scss';
@import '_modal.scss';
@import '_footer.scss';

.product {
    @include grid();
    @include container();
    margin-bottom: 82px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
    grid-template-areas:
        'thumbs-swiper main-block'
        'swiper main-block'
        'descr-block properties-block';

    &__thumbs-swiper {
        grid-area: thumbs-swiper;
        height: 245px;
        width: 100%;
        cursor: zoom-in;
    }

    &__swiper {
        margin-top: -16px;
        padding: 10px 25px;
        grid-area: swiper;
        height: 81px;
        width: 100%;
        background-color: $colorF7F7F7;
        cursor: pointer;
    }

    &__main-block {
        @include flexColumn();
        align-items: start;
        padding-top: 12px;
        grid-area: main-block;
    }

	&__name {
		white-space: nowrap;
	}

    &__descr-block {
        grid-area: descr-block;
        @include flexColumn();
    }

    &__properties-list {
        overflow-x: hidden;
        grid-area: properties-block;
    }

    &__thumbs-swiper-img,
    &__swiper-img {
        object-fit: scale-down;
    }

    &__rating {
        position: relative;
        @include rating();
        margin-bottom: 3px;
        padding-left: 21px;

    }

    &__rating::before {
        left: -2px
    }

    &__heading {
        @include secondaryTitle();
        margin-bottom: 5px;
    }

    &__preview {
        margin-bottom: 21px;
        font-size: $fs14;
        line-height: 14px;
        color: $color999999;
    }

    &__price {
        margin-bottom: 21px;
        font-weight: $fw400;
        font-size: $fs36;
        line-height: 47px;
    }

    &__button {
        padding: 17px 35px;
        margin-bottom: 12px;
        @include fillButton();
    }

    &__add-button {
        margin-left: 30px;
        font-size: $fs16;
        line-height: 21px;
        color: $colorA65CF0;
        border-bottom: 1px solid transparent;
        transition: color $transition-time, border-color $transition-time;
    }

    &__add-button:hover,
    &__add-button:focus-visible {
        border-color: $colorA65CF0;
    }

    &__add-button:active {
        color: $color7033AC;
        border-color: $color7033AC;
    }

    &__descr-heading {
        margin-bottom: 8px;
        font-weight: $fw600;
        font-size: $fs16;
        line-height: 16px;
    }

    &__descr {
        font-size: $fs14;
        line-height: 25px;
    }

    &__contur-img {
        object-fit: scale-down;
        max-width: 526px;
        max-height: 113px;
        margin-top: auto;
    }

    &__properties-item {
        font-size: $fs14;
        line-height: 25px;
        display: grid;
        grid-template-columns: 1.08fr 1fr;
    }

    &__property-container {
        position: relative;
    }

    &__property-container::before {
        position: absolute;
        float: left;
        width: 0;
        white-space: nowrap;
        content:
            ". . . . . . . . . . . . . . . . . . . . "
            ". . . . . . . . . . . . . . . . . . . . "
            ". . . . . . . . . . . . . . . . . . . . "
    }

    &__property-name {
        position: relative;
        color: $color999999;
        background-color: $colorFFFFFF;
        padding-right: 4px;
    }

    &__property-value {
        position: relative;
        background-color: $colorFFFFFF;
        padding-left: 4px;
    }

    @media (max-width: 1350px) {
        grid-template-columns: 1.28fr 1fr;
        margin-bottom: 70px;

        &__thumbs-swiper {
            height: 202px;
        }

        &__properties-item {
            grid-template-columns: 1fr 1.26fr;
        }
    }

    @media (max-width: 1000px) {
        margin-bottom: 30px;
        grid-template-columns: 187px 1fr;
        grid-template-areas:
            'thumbs-swiper thumbs-swiper'
            'swiper main-block'
            'descr-block descr-block'
            'properties-block properties-block';

        &__thumbs-swiper {
            height: 245px;
        }

        &__swiper {
            margin-top: 0;
            padding: 25px 32px;
            height: 349px;
        }

        &__contur-img {
            margin-top: 32px;
        }

        &__main-block {
            padding-top: 50px;
        }

        &__descr {
            max-width: 514px;
        }

        &__contur-img {
            margin-top: 15px;
        }

        &__properties-item {
            grid-template-columns: 1.85fr 1fr;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 70px;
        padding-top: 32px;
        grid-template-columns: 1fr;
        grid-template-areas:
            'thumbs-swiper'
            'swiper'
            'main-block'
            'descr-block'
            'properties-block';

        &__thumbs-swiper {
            height: 116px;
        }

        &__swiper {
            margin-top: -16px;
            padding: 10px;
            height: 81px;
        }

        &__main-block {
            padding-top: 0;
            margin-top: -16px;
        }

        &__heading {
            margin-bottom: 8px;
            font-size: $fs16;
            line-height: 21px;
        }

        &__preview {
            margin-bottom: 16px;
        }

        &__price {
            font-size: $fs24;
            line-height: 31px;
            margin-bottom: 16px;
        }

        &__button {
            width: 100%;
        }

        &__add-button {
            margin-right: auto;
            margin-left: auto;
        }

        &__properties-list {
            margin-top: -5px;
        }

        &__property-container::before {
            content: ''
        }

        &__properties-item {
            grid-template-columns: 1fr;
            line-height: 19px;
        }

        &__properties-item:not(:last-child) {
            margin-bottom: 3px;
        }

        &__property-name {
            padding-right: 0;
            font-size: $fs10;
            line-height: 14px;
        }

        &__property-value {
            padding-left: 0;
        }
    }
}

.similar {
    @include container();
    position: relative;
    padding-bottom: 70px;

    &__heading {
        @include secondaryTitle();
        margin-bottom: 24px;
    }

    &__swiper-slide {
        min-height: 420px;
        width: 100%;
        height: auto;
    }

    &__slide-container {
        height: calc(100% - 80px);
    }

    &__swiper-button-next,
    &__swiper-button-prev {
        @include arrowButton();
        top: 22px;
    }

    &__swiper-button-next {
        right: 0;
    }

    &__swiper-button-prev {
        right: 45px;
        left: auto;
    }

    &__swiper-button-next::after,
    &__swiper-button-prev::after {
        content: '';
    }

    &__swiper-button-prev {
        transform: rotate(180deg)
    }

    @media (max-width: 1350px) {
        &__swiper-button-next {
            right: 36px;
        }

        &__swiper-button-prev {
            right: 81px;
        }
    }

    @media (max-width: 1000px) {
        &__swiper-button-next {
            right: 72px;
        }

        &__swiper-button-prev {
            right: 117px;
            left: auto;
        }
    }

    @media (max-width: 767px) {
        padding-bottom: 118px;

        &__slide-container {
            height: calc(100% - 46px);
        }

        &__swiper-slide {
            min-height: 278px;
        }

        &__swiper-button-next,
        &__swiper-button-prev {
            top: auto;
            bottom: 70px;
        }

        &__swiper-button-next {
            right: calc(50% - 7.5px - 32px);
        }

        &__swiper-button-prev {
            right: 45px;
            right: calc(50% + 7.5px);
        }
    }
}
